Repository GoogleChromeLabs/pwa-wp, pull requests merged in 2018-07, with the labels that each got.

#14 Prototype for Service Workers API
  .gitignore
  pwa-wp.php
  tests/test-class-wp-service-workers.php
  wp-includes/class-wp-https-detection.php
  wp-includes/class-wp-service-workers.php
  wp-includes/class-wp-web-app-manifest.php
  wp-includes/default-filters.php
  wp-includes/service-workers.php
Labels: Sprint 3

#27 Replace arbitrary service worker script scopes with just three: all, front, and admin
  .gitignore
  tests/test-class-wp-service-workers.php
  tests/test-pwa.php
  wp-includes/class-wp-service-workers.php
  wp-includes/default-filters.php
  wp-includes/service-workers.php
Labels: service-workers

#29 Ensure ISO language code is used for manifest instead of WP locale
  tests/test-class-wp-web-app-manifest.php
  wp-includes/class-wp-web-app-manifest.php
Labels: web-app-manifest

#39 Add Cache-Control: no-cache for service worker response
  wp-includes/class-wp-service-workers.php
Labels: service-workers
